body {
    color: #2c3e50;
}

#container {
    background-color: #ecf0f1;
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}


nav {}

nav ul {
    width: 660px;
    margin-left: auto;
}

nav ul li {
    display: inline-block;
    height: 48px;
    width: 120px;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
}

main table td {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}


footer {
    text-align: center;
}

header, main, footer  {

}